.Header {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;

    .headerRight {
        display: flex;
        align-items: center;
        gap: 13px;
        padding-left: 15px;
        width: 100%;

        .headerSearch {
            display: flex;
            align-items: center;
            background-color: #F5F7FA;
            padding: 5px;
            
            border-radius: 30px;
            border: solid 1px;
            height: 100%;
            width: 50%;
            max-width: 500px;

            input {
                background: transparent;
                outline: none;
                border: none;
            }
        }
    }


}